/*documento css*/

* { margin: 0; }
.cabecera { width: 100%;
            background-color: antiquewhite;
            padding: 16px 8px }

.bi bi-wallet2 { font-size: 8em;
    text-align: center;
    display: block;
    color: rgb(58, 0, 112);
    margin:auto; }

.pie {  width: 100%;
        height: 90px;
        background-color: rgb(107, 255, 255);}

.titulo {  font-size: 6em;
    text-align: center;}

.subtitulo {  font-size: 2em;}

.explicacion {  font-size: 2em;}

.subtitulo-lista{  font-size: 2em;}

.contenido {   text-align: center; }

.tarjeta { background-image: url(https://272293a47ef5e1ec06.gradio.live/file=/tmp/fooocus/b5ed4cd624725f11a21b233a09e49a8bbd6d66c2/2025-03-03_14-46-58_9722.png); 
            background-size: 100%;
            width: 100%;
            height: max-content; }