/*Documento css*/

body{ background-color: lightseagreen; }

h1 {color: beige;
  font: size; 32px;
  text-align: center;
  line-height: 130%}

h2 {color: rgb(54, 54, 184);}

h3 {color: rgb(138, 55, 216);}

h4 {color: rgb(93, 31, 72);}
